* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-252429: #252429;
  --color-121212: #121212;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
}

a {
  text-decoration: none;
}

/* Header */
header .logo {
  color: #fff;
}

header a {
  font-size: 18px;
  color: #ccc;
}

header a:hover {
  color: #fff;
  transition: 0.2s;
}

.header-top {
  background-color: var(--color-252429);
}

.header-bottom {
  background-color: var(--color-121212);
}

.header-bottom .search-wrapper {
  border: 1px solid #ccc;
  border-radius: 20px;
  padding: 8px 15px;
  width: 250px;
  background-color: #222;
}

.header-bottom .search-wrapper .btn-search-action {
  border: none;
  background-color: transparent;
  color: #bbb;
  margin-top: -3px;
}

.header-bottom .search-wrapper .search-input {
  background-color: transparent;
  border: none;
  color: #ccc;
  outline: 0;
  padding: 1px 2px;
  width: 100%;
}

.header-bottom .search-wrapper .search-input::-webkit-input-placeholder {
  color: #aaa;
}

/* End Header */

/* Footer */
footer {
  background-color: var(--color-252429);
  color: #fff;
}

footer a {
  color: #ccc;
  transition: 0.2s;
}

footer a:hover {
  color: #fff;
}
/* End Footer */

/* Game Card */
.game-card .action-btn {
  top: 2%;
  right: 8%;
}

.game-card .action-btn button {
  width: 30px;
  height: 30px;
  padding: 0;
  border-radius: 50%;
  display: none;
}

.game-card:hover .action-btn button {
  display: block;
}

/* End Game Card */

/* Outlet */
.outlet {
  background-color: var(--color-121212);
  min-height: 53vh;
}
/* End Outlet */

/* Home Page */
/* Carousel Section */
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: var(--color-121212);
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-pagination {
  position: static !important;
  margin-top: 20px;
}

.swiper-pagination-bullet {
  background-color: white !important;
}

.carousel-wrapper .col-4 img {
  width: 170px;
}

/* End Carousel Section */

/* Discount Section */

/* End Discount Section */

/* End Home Page */

/* Browse Page */
.genre-card .genre-image img {
  width: 75px;
}

.genre-card .genre-wrapper {
  background-color: #222;
  transition: 0.3s ease-in-out;
}

.genre-card:hover .genre-wrapper {
  background-color: #444;
}

/* End Browse Page */

/* Cart Page */
.cart-wrapper .cart-item {
  background-color: #333;
  padding: 20px 30px;
  border-radius: 10px;
}

.cart-wrapper .cart-item .game-image img {
  width: 100px;
}

/* End Cart Page */

/* Wishlist Page */

.wishlist-wrapper .wishlist-item {
  background-color: #333;
  padding: 20px 30px;
  border-radius: 10px;
}

.wishlist-wrapper .wishlist-item .game-image img {
  width: 100px;
}

/* End Wishlist Page */

/* Login Page */
.auth-wrapper {
  background-color: var(--color-121212);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth-wrapper .login-card {
  background-color: #222;
  border-radius: 10px;
  padding: 50px;
  width: 30%;
}

.auth-wrapper .login-card input {
  background-color: transparent;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px 15px;
  margin-bottom: 20px;
  color: #ccc;
}

.auth-wrapper .login-card input::-webkit-input-placeholder {
  color: #aaa;
}

.auth-wrapper .login-card h1 {
  font-size: 28px;
  margin-bottom: 30px;
}

.auth-wrapper .login-card h3 {
  font-size: 18px;
  margin-bottom: 20px;
}

.auth-wrapper .login-card .forgot-password {
  margin-bottom: 20px;
  color: #aaa;
  transition: 0.2s ease-in-out;
}

.auth-wrapper .login-card .forgot-password:hover {
  color: #fff;
}

/* End Login Page */
